{:sloth/entities
 {:txes [[{:db/id #db/id [:db.part/user -1]
           :calendar/title "Exercise"
           :calendar/subtitle "weights or cardio, at least half an hour"
           :calendar/colour-option :a
           :calendar/checked-dates #{}}
          {:db/id #db/id [:db.part/user -2]
           :calendar/title "Meditation"
           :calendar/subtitle "at least ten minutes"
           :calendar/colour-option :b
           :calendar/checked-dates #{}}
          {:db/id #db/id [:db.part/user -3]
           :calendar/title "Coding"
           :calendar/subtitle "personal projects, at least one commit"
           :calendar/colour-option :c
           :calendar/checked-dates #{}}
          {:db/id #db/id [:db.part/user -4]
           :calendar/title "Journaling"
           :calendar/subtitle "writing or drawing, at least one entry"
           :calendar/colour-option :d
           :calendar/checked-dates #{}}
          {:db/id #db/id [:db.part/user -5]
           :user/first-name "Keigo"
           :user/last-name "Suzukawa"
           :user/avatar-url "images/avatar.jpg"
           :user/calendars #{#db/id [:db.part/user -1]
                             #db/id [:db.part/user -2]
                             #db/id [:db.part/user -3]
                             #db/id [:db.part/user -4]}}]]}

 :sloth/calendar-schema
 {:txes [[{:db/doc "A user's calendars"
           :db/ident :user/calendars
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/many
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/doc "A calendar's title"
           :db/ident :calendar/title
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/doc "A calendar's subtitle"
           :db/ident :calendar/subtitle
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/doc "A calendar's colour option"
           :db/ident :calendar/colour-option
           :db/valueType :db.type/keyword
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/doc "A calendar's checked dates"
           :db/ident :calendar/checked-dates
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/many
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]]}

 :sloth/user-schema
 {:txes [[{:db/doc "A user's first name"
           :db/ident :user/first-name
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/doc "A user's last name"
           :db/ident :user/last-name
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/doc "A user's avatar url"
           :db/ident :user/avatar-url
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]]}}
